@import "tailwindcss";

.animate__delay-1s {
  --animate-delay: 0.5s !important;
}

.animate__delay-2s {
  --animate-delay: 0.5s !important;
}

.animate__delay-3s {
  --animate-delay: 0.5s !important;
}

.animate__delay-4s {
  --animate-delay: 0.5s !important;
}

.animate__delay-5s {
  --animate-delay: 0.5s !important;
}

.animate__delay-6s {
  --animate-delay: 0.5s !important;
}

.animate__delay-7s {
  --animate-delay: 0.5s !important;
}

.animate__delay-8s {
  --animate-delay: 0.5s !important;
}
